{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}FORM{% endblock %}

{% block content %}
<div id="vue-app">
<form method="post" action="">
 {% csrf_token %}
 <form
   type="text"
   id="form_test"
   name="form_name"
   label="form_label"
   :autofocus="true"
   :required="true"
  ></form>
  <button class="btn btn-primary" type="submit">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% render_bundle 'form' %}
{% endblock %}
